# Renomme ce fichier en .env et remplis les valeurs
SHOPIFY_SHOP=test-store20
SHOPIFY_CLIENT_ID=52e3d0fe99e06d62b69d77f432e000b7
SHOPIFY_CLIENT_SECRET=shpss_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SHOPIFY_ACCESS_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
